[submodule "site-lisp/Drela-mode"]
	path = site-lisp/Drela-mode
	url = git://github.com/cloudchamber/Drela-mode.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = git://github.com/pheaver/haskell-mode.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git://sbcl.boinkor.net/slime.git
[submodule "site-lisp/ghc-mod"]
	path = site-lisp/ghc-mod
	url = git://github.com/kazu-yamamoto/ghc-mod.git
[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = git://github.com/purcell/mmm-mode.git
[submodule "site-lisp/solarized"]
	path = site-lisp/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
